.vs/
Binaries/
*.vcxproj
*.filters
*.user


Tools/ProjectBuilder/obj
Tools/ProjectBuilder/Properties



#keep required dll and windows configs
Output/*
!Output/*/*/*/assimp-vc142-mtd.dll
!Output/*/*/*/imgui.ini

#keep precompiled libraries in subfolders
Libs/Release
Libs/Debug
